@model LibraryWebApplication.ViewModel.LoginViewModel

<h2>Вхід до КіноБази</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <p>
            <input asp-for="RememberMe" />
        </p>
    </div>
    <div>
        <input type="submit" value="Увійти" />
            <a class="btn btn-info" asp-action="GoogleLogin">Увійти за допомогою Google</a>
    </div>

</form>