<!DOCTYPE html>
<html lang="en">
    <style>
       
    .iconcall
    {
    position: fixed;
    }
    
    </style>
<head>
    @using Microsoft.AspNetCore.Http.Extensions
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name = "description" content="Портал для створення списку улюблених фільмів та детального вивчення їх "/>
    <title>@ViewData["Title"] MoviesWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_sketch.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviesWebApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">КіноБаза</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="List">Фільми</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="GenresList">Жанри</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Productions" asp-action="ProductionList">Кінокомпанії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Artists" asp-action="ArtistList">Режисери та сценаристи</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Playlists" asp-action="PlayList">Підбірки фільмів</a>
                        </li>

                        <li />
                        @{
                            if (User.IsInRole("admin"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="UserList">Список користувачів</a>
                            }
                        }
                        </li>

                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        <li />
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">@User.Identity.Name</li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input type="submit" value="Вийти з аккаунта" />
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">Вхід</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Реєстрація</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
       <p class="iconcall"> <a href="https://t.me/aniilab"><img src = "https://cdn-icons-png.flaticon.com/512/5968/5968940.png" /  style=" margin-left: 20px;width : 50px"></a></p>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MoviesWebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


