@*@{
    ViewData["Title"] = "Home Page";
}*@
<!DOCTYPE html>
<html lang="en">
    
<head>
    @using Microsoft.AspNetCore.Http.Extensions
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name = "description" content="Портал для створення списку улюблених фільмів та їх детального вивчення "/>
    <meta name = "keywords" content ="movie details, movie, movie list, movie playlist, movie playlists, movies, movies data base, movies db, playlist, own movie base, фільми, список фільмів, список улюблених фільмів, створити плейліст фільмів, зробити список фільмів"/>
</head>

<body>
    <header>
        <h1 align ="center"> <label>This is for movie lovers. Here you can create movie playlists and discover movie details </label> </h1>
<h2 align ="center"> <label>Цей застосунок - база з вашими улюбленими фільмами</label> </h2>
<p align ="center"> <img src="https://www.alphapaw.com/wp-content/uploads/2020/08/photo_2020-11-05_18-56-48.jpg" alt ="Мопс  жує жує попкорн"/></p>

    </header>

</body>


