@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is private page. Be quiet!</p>

<p> <img src = "https://i.kym-cdn.com/photos/images/newsfeed/000/896/906/1bd.gif" alt="spongebob" width= "280"/></p>
