<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/526e117b-d83d-4af1-9bdc-b480fa39d6fe/resourceGroups/MoviesWebApplication20220923172555ResourceGroup/providers/Microsoft.ApiManagement/service/MoviesWebApplicationapi/apis/MoviesWebApplication</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/526e117b-d83d-4af1-9bdc-b480fa39d6fe/resourceGroups/Wep-App-Movies1/providers/Microsoft.Web/sites/MovieBaseWebApp</ResourceId>
    <ResourceGroup>Wep-App-Movies1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://moviebasewebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e5033bd3-a1da-4bfd-a6ce-5e5d7d877176</ProjectGuid>
    <PublishUrl>https://moviebasewebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MovieBaseWebApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>